<ion-header-bar align-title="center" class="bar-dark ">
  <p>Utilisateur :{{user.title}}<br />Mail :{{user.mail}}</p>
  <h1 class="title">Instachgram</h1>
</ion-header-bar>
<ion-content ng-controller="todoController" scroll="true">

<ion-slide>





<div class="list card" style = "padding-top: 15px;">

  <div class="item item-avatar">
    <img src="../img/movember_logo.jpg">
    <h2>Jean Michel A Vous</h2>
  </div>

  <div class="item item-body">
    <img class="full-image center" src="../img/9.jpg" style="height: 150px; width:150px">
    <p> Trop stylé ma nouvelle stache
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>


<div class="list card" style = "padding-top: 15px;">

  <div class="item item-avatar">
    <img src="../img/movember_logo.jpg">
    <h2>Jean Michel BruceLee</h2>
  </div>

  <div class="item item-body">
    <img class="full-image center" src="../img/1.jpg" style="height: 150px; width:150px">
    <p> Mousse tache carglass remplace
    </p>
    <p>
      <a href="#" class="subdued">22 Like</a>
      <a href="#" class="subdued">56 Comments</a>
    </p>
  </div>

</div>


<div class="list card" style = "padding-top: 15px;">

  <div class="item item-avatar">
    <img src="../img/movember_logo.jpg">
    <h2>Jean Michel A Vous</h2>
  </div>

  <div class="item item-body">
    <img class="full-image center" src="../img/2.jpg" style="height: 150px; width:150px">
    <p> Trop stylé ma nouvelle stache
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>


<div class="list card" style = "padding-top: 15px;">

  <div class="item item-avatar">
    <img src="../img/movember_logo.jpg">
    <h2>Jean Michel A Vous</h2>
  </div>

  <div class="item item-body">
    <img class="full-image center" src="../img/4.jpg" style="height: 150px; width:150px">
    <p> Trop stylé ma nouvelle stache
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

</div>
</ion-slide>

</ion-content>


<ion-footer-bar>

<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/home">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" href="#/maphoto">
    <i class="icon ion-ios-camera"></i>
    Ma Photo
  </a>
  <a class="tab-item" href="#/movember">
    <i class="icon ion-android-happy"></i>
    Movember
  </a>
</div>
</ion-footer-bar>
